# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native generated folders
/ios
/android

# Native build/cache
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# APK / Android builds
*.apk
*.aab
builds/
builds_*/

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS
.DS_Store
*.pem

# local env files
.env
.env.local
.env*.local

# typescript
*.tsbuildinfo

# IDE
.vscode/build_apk.sh
